%h3 Questions

%table.table.table-hover
  %thead
    %tr
      %th Content
      %th Point
      %th
      %th
      %th
  %tbody
    - questions.each do |question|
      %tr
        %td= question.content
        %td.w200= question.point
        %td.wbtn= link_to 'Show', [@questionnaire, question]
        %td.wbtn= link_to 'Edit', edit_questionnaire_question_path(question, questionnaire_id: @questionnaire)
        %td.wbtn= link_to 'Destroy', [@questionnaire, question], :method => :delete, :data => { :confirm => 'Are you sure?' }
