%p#notice= notice
= link_to 'Edit', edit_questionnaire_question_path(@question, questionnaire_id: @questionnaire)
\|
= link_to 'Back', @questionnaire

%table.table
  %tbody.show
    %tr
      %td.w200 Name:
      %td= @question.content
    %tr
      %td.w200 Point:
      %td= @question.point

- if @question.answers.count > 0
  = render 'answers/list', answers: @question.answers
