%table.table.table-hover
  %thead
    %tr
      %th Question
      %th Correct answer
      %th user answer
      %th Point

  %tbody
    - @questionnaire.questions.each_with_index do |question, index|
      - answer = @user.user_answers.where(question: question).last.answer
      %tr
        %td= link_to question.content, question
        %td= question.answers.where(is_answer: true).first.try(:content)
        %td.w200= answer.try(:content)
        %td.w200= answer.is_answer ? question.point : 0

%h3 Total: #{UserService.point(@user, @questionnaire)}
