%table.table.table-striped
  %thead
    %tr
      %th
        Name
      %th
        Modified
      %th
        Additional sharing
  %tbody
    - if @file_node
      %tr
        - if @file_node.parent
          %th= link_to "...", node_path(@file_node.parent)
        - else
          %th= link_to "Home", nodes_path
        %th
        %th
    - nodes.each do |node|
      %tr
        %th
          - if node.is_file?
            %i.fa.fa-file-o
            = node.name
          - else
            %i.fa.fa-folder-o
            = link_to node.name, node_path(node)
        %th
          - if node.is_file?
            = node.updated_at.strftime('%m/%d/%Y %H:%M')
          - else
            \-.-
        %th
          - node.users.each do |user|
            %span.label.label-success= user.name

          = link_to sharing_node_path(node), remote: true, title: "Share #{node.name}", class: 'pull-right' do
            %i.fa.fa-share(aria-hidden="true")
          - if node.is_file?
            = link_to node.file.url, title: "Download file #{node.name}", class: 'pull-right', target: '_blank' do
              &nbsp;
              %i.fa.fa-download(aria-hidden="true")
              &nbsp;

.text-center
  = paginate nodes
