%h1 Listing questionnaires

= link_to 'New Questionnaire', new_questionnaire_path

%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Shared users
      %th Questions count
      %th
      %th
      %th
      %th
  %tbody
    - @questionnaires.each do |questionnaire|
      %tr
        %td= questionnaire.name
        %td
          - questionnaire.users.each_with_index do |u, index|
            - if index > 0
              \|
            = link_to u.name, alert_answered_questionnaire_path(questionnaire, user_id: u.id), remote: true
        %td.w200= questionnaire.questions.count
        %td.wbtn= link_to 'Show', questionnaire
        %td.wbtn= link_to 'Edit', edit_questionnaire_path(questionnaire)
        %td.wbtn= link_to 'Destroy', questionnaire, :method => :delete, :data => { :confirm => 'Are you sure?' }
        %td.wbtn
          = link_to sharing_questionnaire_path(questionnaire), remote: true, class: 'pull-right' do
            %i.fa.fa-share(aria-hidden="true")

#sharingModal.modal.fade(tabindex="-1" role="dialog")
  .modal-dialog
    .modal-content

#alertModal.modal.fade(tabindex="-1" role="dialog")
  .modal-dialog
    .modal-content
