%p#notice= notice

= link_to 'Edit', edit_questionnaire_path(@questionnaire)
\|
= link_to 'Back', questionnaires_path
\|
= link_to 'Add question', new_questionnaire_question_path(questionnaire_id: @questionnaire)

%h1= @questionnaire.name


- if @questionnaire.questions.count > 0
  = render 'questions/list', questions: @questionnaire.questions
