-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Evaluation', root_url, class: "navbar-brand large-brand"
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to "Link 1", ""
        %li= link_to "Link 2", ""
        %li= link_to "Link 3", ""
      - if current_user
        %ul.nav.navbar-nav.navbar-right.pull-right
          %li
            %a(type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              %i.fa.fa-user
              = current_user.name
              %span.caret
            %ul.dropdown-menu
              %li
                %a Setting
                %a{href: destroy_user_session_path, title: 'Sign out'}
                  Sign out
